#movie_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background: #f9f9f9;
}

#movie_table thead {
    background-color: #007bff;
    color: white;
}

#movie_table th {
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #0056b3;
}

#movie_table tbody tr {
    border-bottom: 1px solid #ddd;
}

#movie_table td {
    padding: 10px;
}

#title{
    margin: 20px;
    text-align: center;
}